* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  header {
    width: 100%;
  }
  main {
    width: 100%;
    /* margin: auto; */
    /* background-color: grey; */
  }
  
  /* Header and Nav */
  .header__small {
    position: fixed;
    background-color: white;
    left: 0;
    top: 0;
    z-index: 5000;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
  }
  
  .header__small-logo {
    align-items: center;
    background-color: black;
    display: flex;
    height: 50px;
    justify-content: center;
    width: 90px;
  }
  
  .header__small-icon a {
    margin-right: 10px;
    text-decoration: none;
  }
  
  .header__md-svg2 {
    height: 50px;
    width: 50px;
  }
  
  .site__nav-left {
    flex: 1;
  }
  
  .site__nav-logo {
    padding: 10px 10px;
    width: 100px;
    background: #000;
  }
  
  .site__nav-links {
    display: none;
  }
  
  .site__header-max-screen {
    display: none;
  }
  
  .site__nav-links a {
    text-decoration: none;
    color: #777;
    margin-right: 10px;
  }
  
  .site__nav-right a {
    padding-right: 10px;
    text-decoration: none;
  }
  
  .site__nav-right {
    align-self: center;
    padding: 10px;
  }
  
  .fas {
    font-size: 20px;
    padding-left: 5px;
  }
  
  .fa-search {
    color: #666;
  }
  
  .fa-bars {
    color: orangered;
  }

  /* cover story mobile */
.cover {
    margin-top: 60px;
    position: relative;
    color: aliceblue;
  }
  
  .cover a {
    color: inherit;
    text-decoration: none;
  }
  
  .cover__main {
    margin: 10px auto 10px auto;
    width: 98%;
    line-height: normal;
    height: 155px;
    position: relative;
  }
  
  .cover__text {
    position: absolute;
    bottom: 5px;
    left: 5px;
  }
  
  .side__0 {
    grid-row: 1;
    background:
      linear-gradient(
        0deg,
        rgba(0, 0, 0, 1) 0%,
        rgba(124, 122, 122, 0) 100%
      ),
      url("../images/pexels-cover.jpg") no-repeat;
    background-size: cover;
  }
  
  .side__1 {
    background:
      linear-gradient(
        0deg,
        rgba(0, 0, 0, 1) 0%,
        rgba(255, 255, 255, 0) 100%
      ),
      url("../images/pexels-cover-2.jpg") no-repeat;
    background-size: cover;
  }
  
  .side__2 {
    background:
      linear-gradient(
        0deg,
        rgba(0, 0, 0, 1) 0%,
        rgba(255, 255, 255, 0) 100%
      ),
      url("../images/pexels-cover-3.jpg") no-repeat;
    background-size: cover;
  }
  
  .cover__main h3 {
    font-style: italic;
  }
  
  .cover__main h2 {
    font-size: 20px;
    font-weight: 700;
  }

  /* Latest News Section */
.latest__news {
    width: 90%;
    margin: 50px 10px;
  }
  
  .latest__news-details {
    margin-bottom: 20px;
  }
  
  .latest__header {
    margin-bottom: 20px;
    font-weight: 900;
  }
  
  .latest__header a {
    text-decoration: none;
    color: #f42;
  }

  .latest__nav-header a {
    text-decoration: none;
    color: #f42;
  }
  
  
  .latest__news-item {
    display: flex;
    align-items: center;
    margin: auto;
    width: 90%;
  }
  
  .latest__news-item a {
    text-decoration: none;
    color: #000;
    font-weight: bolder;
  }
  
  .latest__news-item img {
    flex: 1;
    padding: 10px;
    width: 100px;
    height: auto;
  }
  
  .latest__news-item span {
    color: #666;
  }

  /* Section Latest headlines */
.latest__nav {
    margin-bottom: 40px;
  }
  
  .section__latest_header {
    margin: 20px 20px;
  }
  
  .aside__link {
    margin: 10px 10px;
  }
  
  .aside__link a {
    color: orangered;
    display: block;
    margin: 10px 20px;
    text-decoration: none;
  }
  
 /* Section Story */
.section__story {
  width: 90%;
  margin: auto;
}

.section__story-card {
  width: 100%;
}

.section__story-flow {
  background-color: rgb(253, 152, 135);
}

 .section__story-flow h3 {
  font-weight: bold;
}

 .section__story-flow h5 {
  color: #666;
  font-size: 12px;
  font-weight: lighter;
  text-transform: uppercase;
  font-style: italic;
  padding-bottom: 5px;
}

.section__story-card h2 {
  background-color: orangered;
  text-transform: uppercase;
  margin-bottom: 5px;
  padding: 10px 100px;
  color: antiquewhite;
  position: relative;
}

.section__story-text {
  margin-left: 100px;
  position: absolute;
}


.section__story-footnote {
  background-color: rgb(252, 224, 188);
  padding-bottom: 5px;
  margin-bottom: 20px;
}

.section__story-footnote a {
  text-decoration: none;
  color: #666;
}

.section__story-footnote ul {
  border-bottom: 1px solid rgb(255, 123, 100);
  padding-left: 30px;
  list-style: none;
}


.section__story-footnote li {
  padding-top: 5px;
  padding-bottom: 5px;
}

.section__story-end a {
  color: #555;
  text-decoration: none;
}

.section__story-end {
  margin-top: 10px;
  margin-bottom: 20px;
  padding-left: 5px;
}

.section__story-end span {
  color: tan;
}

.section__story-card img {
  position: relative;
  top: -30px;
  left: 20px;
  width: 60px;
}

/* Other News */
.container__other-news {
  width: 90%;
  margin: 40px auto;
}

.other__news-details {
  background:
    linear-gradient(
      0deg,
      rgba(0, 0, 0, 1) 0%,
      rgba(255, 255, 255, 0) 100%
    ),
    url("../images/pexels-cover.jpg") no-repeat;
  background-size: cover;
  color: white;
  padding: 50% 14px 14px 5px;
  margin-bottom: 5px;
}

.other__news-details h2 {
  margin: 50px;
}

.other__news-details a {
  text-decoration: none;
  color: white;
}

.other__news-details span {
  color: #666;
}

.other__extracts {
  flex: 1;
}

.other__news-under-note {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.other__news-under-note img {
  width: 96px;
}

.other__news-under-note a {
  text-decoration: none;
  color: #f42;
}

.under-note-text {
  flex: 1;
  color: #f42;
  margin-left: 10px;
  margin-top: 5px;
}

.under-note-text span {
  padding-top: 5px;
  font-style: italic;
  text-transform: uppercase;
}

.under-note-text h3 {
  font-size: 15px;
}

.other__news-link a {
  text-decoration: none;
  color: #666;
  width: 80%;
}

.other__news-link li {
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid rgb(187, 187, 187);
  margin: auto 15px;
  color: #f42;
}

/* Latest Deals Section */
.section__latest-deals {
  width: 90%;
  margin: 20px auto;
}

.latest__deals-header {
  color: #f42;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.latest__deals {
  display: grid;
  grid-template-rows: 1fr;
}

.latest__deals img {
  width: 70px;
  margin-right: 10px;
}

.latest__deals a {
  color: #000;
  text-decoration: none;
}

.latest__deals-details {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-bottom: 10px;
  width: 100%;
}

.latest__deals-details h5 {
  color: #555;
}

.old_price {
  text-decoration-line: line-through;
  margin-right: 5px;
}

/* footer */
.footer {
  background-color: black;
  bottom: 0;
  left: 0;
  position: relative;
  width: 100%;
}

.footer__top {
  background-color: #272727;
  text-align: center;
  width: 100%;
}

.footer__top-nav {
  font-size: 20px;
  list-style: none;
  margin-bottom: 10px;
  padding: 40px 10px;
}

.footer__top-nav a {
  /* border-radius: 50%; */
  background: #666;
  padding: 2px;
}

.footer__top-nav i {
  color: antiquewhite;
  margin: 0 10px;
  text-decoration: none;
}

.footer__bottom {
  color: #666;
  padding: 40px 0 50px 0;
}

.footer__bottom p {
  margin: 0 auto;
  width: 50%;
}

.footer__bottom a {
  color: antiquewhite;
  text-decoration: none;
}

.footer__top-nav-sub {
  padding-bottom: 50px;
}

.footer__top-nav-sub a {
  color: #666;
  margin-right: 5px;
  text-decoration: none;
}

/* Media Queries */
/* Medium screen */
@media screen and (min-width: 768px) {
  /* header section */
  .header__black {
    background-color: #000;
    height: 30px;
    width: 100%;
    display: flex;
    align-items: center;
  }

  .header__small {
    display: none;
  }

  .left {
    float: left;
  }

  .right {
    position: absolute;
    float: right;
    right: 0;
  }

  .site__header-content a {
    color: antiquewhite;
    list-style: none;
    text-decoration: none;
    margin: 0 5px;
    font-size: small;
  }

  .site__nav-left {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .site__header-max-screen {
    display: block;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
  }

  .site__nav-links a {
    font-size: small;
  }

  .site__nav-links {
    display: block;
    margin-left: 20px;
  }

  .header__md {
    background-color: white;
    height: 50px;
    display: flex;
    align-items: center;
    position: relative;
  }

  .header__md-logo {
    position: absolute;
    height: 80px;
    width: 100px;
    top: 0;
    left: 0;
    background-color: #000;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .margin-fix {
    margin-left: 120px;
  }

  .header__md-svg {
    height: 70px;
    width: 80px;
  }

  .site__nav-right-bar {
    display: none;
  }

  .site__nav {
    display: none;
  }

/* Section cover tablet version */
  .cover {
    margin-top: 10px;
    position: relative;
    color: aliceblue;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: repeat(2, 1fr);
    row-gap: 10px;
    justify-content: space-between;
    height: 400px;
   
  }
  
  .cover a {
    color: inherit;
    text-decoration: none;
  }
  
  .cover__main {
    width: 98%;
    line-height: normal;
    position: relative;
    height: 100%;
  }
  
  .cover__text {
    position: absolute;
    bottom: 5px;
    left: 5px;
  }
  
  .side__0 {
    grid-row: 1 / 3;
    /* margin: 10px auto; */
    background:
      linear-gradient(
        0deg,
        rgba(0, 0, 0, 1) 0%,
        rgba(255, 255, 255, 0) 100%
      ),
      url("../images/pexels-cover.jpg") no-repeat;
    background-size: cover;
  }
  
  .side__1 {
    grid-column: 2 / 3;
    background:
      linear-gradient(
        0deg,
        rgba(0, 0, 0, 1) 0%,
        rgba(255, 255, 255, 0) 100%
      ),
      url("../images/pexels-cover-2.jpg") no-repeat;
    background-size: cover;
    background: cover;
  }
  
  .side__2 {
    background:
      linear-gradient(
        0deg,
        rgba(0, 0, 0, 1) 0%,
        rgba(255, 255, 255, 0) 100%
      ),
      url("../images/pexels-cover-3.jpg") no-repeat;
    background-size: cover;
  }
  
  .cover__main h3 {
    font-style: italic;
  }
  
  .cover__main h2 {
    font-size: 25px;
    font-weight: 700;
  }

  .side__1 {
    grid-column: 2/3;
  }
  .side__0 h2 {
    font-size: 60px;
  }

/* Section for latest news */
.section__latest_header {
  margin: auto;  
  width: 100%;
}
  .latest__news {
    margin: auto;
  }

  .latest__news-details {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin-bottom: 5px;
    margin-left: 0;
  }

  .latest__news-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* flex-basis: 100%; */
    margin-bottom: 15px;
  }


  .latest__news-item img {
    flex: 1;
    padding: 0;
    width: 100%;
    height: auto;
  }

  .latest__header {
    margin: 70px auto 20px auto;
    font-weight: 900;
  }
  
  .latest__header a {
    text-decoration: none;
    color: #f42;
  }

  .latest__nav-header {
    margin: auto;
    font-weight: 900;
    flex: 1;
  }

  .latest__nav-header a {
    text-decoration: none;
    color: #f42;
  }
  

  /* Section Header */
  .latest__nav {
    margin: 40px auto 10px auto;
    width: 90%;
  }
  .aside__link {
    margin-left: -15px;
    margin-bottom: 20px;
    margin-top: 20px;
  }
   
  .aside__link a {
    color: orangered;
    display: inline;
    text-decoration: none;
    border-right: 2px solid orangered;
    margin-right: 10px;
    padding-right: 20px;
  }

  .aside__link a:last-child {
    border-right: none;
  }

  /* Section story tablet */
  .section__story {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 30px;
    margin: 10px auto;
    /* margin-left: 50px; */
    /* width: 100%; */
  }

  .section__story-card {
    width: 100%;
    margin-bottom: 20px;
  }

  /* other news section for tablets */
  .other__news {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 90%;
    margin: auto;
  }
  .container__other-news {
    width: 90%;
    /* margin: 40px auto; */
  }
  
  /* Section__latest deals for tablets */
  .section__latest-deals {
    width: 90%;
    margin: 20px auto;

  }
  
  .latest__deals-header {
    color: #f42;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .latest__deals {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  
  .latest__deals img {
    width: 250px;
    margin-right: 10px;
  }
  
  .latest__deals a {
    color: #000;
    text-decoration: none;
  }
  
  .latest__deals-details {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-bottom: 10px;
    width: 100%;
  }
  
  .latest__deals-details h5 {
    color: #555;
  }
  
  .old_price {
    text-decoration-line: line-through;
    margin-right: 5px;
  }
  
  
}

/* Media for Large screen sizes */
@media (min-width: 1024px){
 
}

